/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;");

html {
  height: -webkit-fill-available;
}
body {
  height: -webkit-fill-available;
} */

.feature {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background: white;
  margin-top: 50px;
  box-shadow: 0 1rem 3rem #e2eff7;
}
.feature2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background: white;
  margin-top: 50px;
  box-shadow: 0 1rem 3rem #f80501;
}
.feature3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background: white;
  margin-top: 50px;
  box-shadow: 0 1rem 3rem #018b05;
}


/* Responsive Media Queries Section HOME PAGE*/
@media only screen and (min-width: 768px) {
  .intro {
    content: url(../images/background.png);
    width: 100%;
    height: auto;
  }
  .card-img-overlay .card-title {
    content: "@media";
  }
  .card-img-overlay .card-text:p {
    content: "About the Farm";
  }
  .card-img-overlay .card-text:last-child {
    content: "About the Farmers";
  }
}


@media screen and (min-width: 992px) {
  .hero-card {
    display: none;
  }
}

/* for video to not show till needed - big screen */
@media screen and (max-width: 992px) {
  .ratio {
    display:  none;
  }
}


/* START OF ABOUT HTML NOTES */
@media only screen and (min-width: 768px) {
  .about-hero {
    content: url(../images/abouthero.jpg);
    width: 100%;
    height: auto;
  } }

/* START OF LOGIN HTML NOTES */
